.tarjeta {
  transition: transform 0.3s ease, border 0.3s ease;
    border-radius: 15px; /* Añadir un radio para que se vea más suave */
  overflow: hidden; /* Evita que el contenido se desborde al escalar */
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2); /* Sombra para efecto de profundidad */
}
.tarjeta:hover {
  cursor: pointer;
  transform: scale(1.05);
  border-radius: 20px;
}

.tarjeta .image-container {
  flex: 1; /* Esto permite que el contenedor de la imagen ocupe espacio y se expanda */
  position: relative; /* Para posicionar los elementos absolutos dentro */
  background-size: cover; /* Asegura que la imagen cubra el área */
  background-position: center; /* Centra la imagen */
}

.overlay {
  transition: background-color 0.5s ease;
}

/* Estilo para el contenedor del texto */
.text-white {
  margin-top: 10px; 
}